services:
  activemq:
    image: activemq
    container_name: activemq
    ports:
      - "51616:61616"
      - "9161:8161"
      - "6672:5672"
    networks:
    - activemq

networks:
  activemq:
    name: activemq
    driver: bridge