services:
  postgres:
    image: postgres
    container_name: postgres
    environment:
      - 'POSTGRES_PASSWORD=secret123!'
    ports:
      - 5432:5432
    volumes:
      - /var/data/postgres:/var/lib/postgresql/data
    networks:
      - postgres

networks:
  postgres:
    name: postgres
    driver: bridge
